.counter{
    margin: 50px;
    padding: 20px;
    border : 1px solid black;
    box-shadow: 5px 5px 5px black;
}

.heading {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons {
    gap: 10px;
    display: flex;
}

